@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap');

.anctmain {
    font-family: 'Public Sans', sans-serif;
    background-color: #2B1C1F;
    height:100%;
}
.new-announcement-btn {
    padding-top:1vw;
}

.head1 {
    color: #FFFFFf;
    font-size: 4vw;
}

.content {
    color: black;
    margin-left: 45px;
    margin-right: 45px;

}
.head-container {
    display: flex;
    justify-content:space-between;
    margin:0vw 4vw 0vw 4vw;
    padding:2vw 0vw 2vw 0vw;
}