.anct-header{
    background-repeat: no-repeat;
        background-color: rgb(249, 244, 243);
        background-blend-mode: multiply;
        background-image: url("card-bg.jpg");
        background-size: cover;
        display: inline-block;
}
.card-content{
    background:#FFA8A2;
}
.single-card{
    margin:auto;
    padding:20px;
}

.dlt-button{
    display:flex;
    justify-content:center;
    gap:.5vw;
}
.btns{
    display: flex;
        justify-content: center;
        gap: .5vw;
}