.header {
    background: linear-gradient(to left, #FFA8A2, #F8F8F8);
    display: inline-block;
}

.card-content {
    background: #FFA8A2;
}

.single-card {
    margin: auto;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons Button {
    width: auto;
    size: .5vw;
    margin: .5vw;
}