.job-header {
    /*background: linear-gradient(to left, #FFA8A2, #F8F8F8);*/
    background-repeat: no-repeat;
        background-color: rgb(249, 244, 243);
        background-blend-mode: multiply;
        background-image: url("card-bg.jpg");
        background-size: cover;
    display: inline-block;
}

.card-content {
    background: #ffaca6;
}

.single-card {
    margin: auto;
    padding: 20px;
}

.buttons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:.5vw;
    height:4vh;
    align-items:center;
}
.apply-here{
    display: flex;
        flex-direction: row;
        justify-content: center;
    gap:.5vw;
}

.apply input{
    gap: 1vw;
}