@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    margin: 0;
}


.container--row-1 {
    font-size: 2vw;
    padding-bottom: 50px;
    display: flex;
}

#logo {
    width: 80px;
    height: 40px;
    object-fit: cover;
    padding-right: 10px;

}

.container-intro h1 {
    font-size: 5vw;
}

.container-intro h2 {
    font-size: 2vw
}

.containercss {
    color: #EBDCDC;
    margin: 0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(168, 125, 116);
    background-blend-mode: multiply;
    background-image: url('bgimage.jpg');
    background-size: cover;
    padding-left: 70px;
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.container--row-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.container-intro {
    width: 100%;
}

.container--loginReg {

    width: 50%;
}

.container--loginReg__card {
    background-color: rgba(139, 84, 84, 0.3);
    ;
    background-size: cover;
    opacity: 0.9;
    color: #EBDCDC;
    border-radius: 10px;
    padding: 20px;
    width: 90%;

}

.email {
    padding-top: 5px;
}

.log_mail {
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.password {
    padding-top: 5px;
}

.log_pass {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: none;
}

.subButton {
    text-align: center;
    padding: 15px;
}

.subBtn {
    background-color: #EBDCDC;
    color: #660a0a;
    border-radius: 5px;
    border: none;
}

.subBtn:hover{
    background-color:#660a0a;
    color:#EBDCDC;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.imgBox {
    max-width: 50px;
    min-width: 5px;
}

.newRegister {
    text-align: center;
    cursor: pointer;
}

.mail-textbox {
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.send-otp-container {
    padding: 15px 0px 15px 0px;
}

.send-otp-btn {
    background-color: #EBDCDC;
    color: #660a0a;
    border-radius: 5px;
    border: none;
}

.send-otp-btn:hover{
    background-color:#660a0a;
    color:#EBDCDC;
}

.otp-textbox {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: none;
}

.otp-confirm-box {
    padding: 15px 0px 15px 0px;
}

.confirm-btn {
    background-color: #EBDCDC;
    color: #660a0a;
    border-radius: 5px;
    border: none;
    width: auto;
}

.confirm-btn:hover{
    background-color:#660a0a;
    color:#EBDCDC;
}