nav{
  background-color: #660a0a;
  height: 50px;
  display:flex;
  justify-content:space-between ;
}

nav .logout{
    display: flex;
    align-items: center;
    margin-right:35px;
}
nav .menu{
    display: flex;
    align-items:center;
    margin-left:35px;
   
}
.menu .heading{
    color: #fff;
    padding:20px;
    text-decoration:none;
    opacity: .9;

}
.logout .log {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    opacity: .9;

}
.menu .active {
    opacity: 1;
}

