@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap");

* {
    font-family: "Public Sans", sans-serif;
}
nav{
  background-color: #2B1C1F;
  height: 4vw;
  display:flex;
  justify-content:space-between;
}

nav .logout{
    display: flex;
    align-items: center;
    margin-right:3vw;
}
nav .menu{
    display: flex;
    align-items:center;
    margin-left:3vw;
   
}
.menu .head{
    color: #fff;
    padding:20px;
    text-decoration:none;
    opacity: .9;

}
.logout .log {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    opacity: .9;

}
.menu .active {
    opacity: 1;
}

