
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap");

* {
    font-family: "Public Sans", sans-serif;
}

.registration {
    color: #ffff;
    margin: 0px;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgb(168, 125, 116);
    background-blend-mode: multiply;
    background-image: url("bgimage.jpg");
    background-size: cover;
}

.reg-box {
    margin:0 auto;
    padding: 4vw;
    width: fit-content;
    background-color: rgba(168, 157, 157, 0.2);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(247, 243, 243, 0.18);
}
.reg-form{
    display: flex;
    justify-content: center;
    column-gap:2vw;
    
}
.columns{
    display:flex;
    flex-direction:column;
}

.columns input ,select{
    background: transparent;
    outline: none;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:10px;
    height: 30px;
    
    
}
.input-history {
    margin-top:2vw;
    display: flex;
    flex-direction: row;
}
.history-label {
    flex:none;
    margin-top: 1vw;
}
.history-box {
    margin:0px;
    width: .8vw;
    box-sizing: border-box;
}

.submit-button {
    text-align: center;
    margin-top: 1vw;
}

.submit-button button {
    background-color: rgba(236, 221, 221, 0.8);
    color: rgba(150, 3, 3, 0.9);
    border: none;
    border-radius: 6px;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-size: 1vw;
    font-weight: bolder;
}

.submit-button button:hover {
    background-color: rgba(150, 3, 3, 0.6);
    color: rgba(236, 221, 221, 0.6);
}

option {
    background-color: #2B1C1F;
}

.columns select:focus {
    outline: none;
    border-color: #fff;
}
