@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap');

/* .statmain {
    font-family: 'Public Sans', sans-serif;
    background-color: #2B1C1F;
    min-height: 100vh;
    height: 100%;
}
.stathead{
    display: flex;
    justify-content:space-between;
    margin: 0vw 4vw 0vw 4vw;
    padding: 2vw 0vw 2vw 0vw;
}
.statheading{
    color: white;
    font-size: 4vw;
}
.table-form{
  display: flex;
  justify-content: center;
}
.year{
    display: flex;
    justify-content:space-between;
    margin-right: 4vw;
}
.year_heading{
    color: white;
    margin: 0vw 4vw 0vw 4vw;
    padding: 2vw 0vw 2vw 0vw;
}
.hor_line{
    color: white;
    width:93%;
    margin-top: 0;
    
}

.stat-table table{
    color:white;
    width:60%;
    text-align: center;
    
}
.stat-table{
    display: flex;
    justify-content: center;
    
}
th{
    padding:10px 0px;
    text-align: center;
    background-color: #e299a7;
    
}
th:nth-child(1){
    text-align: left;
    padding-left:20px;

    
}
td:nth-child(1){
    text-align: left;
    padding-left: 20px;
}
tr:nth-child(1){
    background-color: #e299a7;
    border-radius:5px;
}
tr:nth-child(odd){
    background-color: #e299a86a;
}
tr:nth-child(even) {

    padding: 50px 10px;
    background-color: #7a5f6469;
}
tr:last-child{
    background-color: #f5063289;
}
td{
    padding:10px 0px;

}
th,td{
  padding:10px 20px;
}
.circles{
    display:flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    gap:3rem;
}


@keyframes pulse {
  0% { box-shadow:0 0 8px #f79fc1, inset 0 0 8px #f79fc1; }
  50% { box-shadow:0 0 16px #f79fc1, inset 0 0 24px #f79fc1; }
  100% { box-shadow:0 0 8px #f79fc1, inset 0 0 8px #f79fc1; }
}
.circle1{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  width:200px;
  height:200px;
  border-color: #ea4c89;
  border-radius:50%;
  box-shadow: 0 0 8px #f79fc1, inset 0 0 8px #f79fc1;
  margin-bottom: 1%;
}
.circle1:hover{
    display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  width:200px;
  height:200px;
  border-radius:50%;
  box-shadow: 0 0 8px #f79fc1, inset 0 0 8px #f79fc1;
  -webkit-animation: pulse 2s linear 1s infinite;
  margin-bottom: 1%;
}
.circle1 .circle-text {
  
  font-family:sans-serif;
  font-weight:100;
  font-size:20px;
  font-weight:bold;
  color: #ffffff;
  text-shadow: 0 0 4px #ea4c89;
} */

/*
.circle1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6%;
  right: 3%;
  margin-bottom: 1%;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow:
    
    0 0 10px #130505,
    -10px 0 10px rgb(230, 141, 141),
    10px 0 10px rgb(223, 11, 11);
  transition: transform 0.3s ease;
}

.circle1:hover {
  transform: scale(1.2); 
}
/*
.circle1 {
display:flex;
text-align: center;
  justify-content: center;
  align-items: center;
  color:white;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, yellow),
    linear-gradient(#262626, #141414);
  animation: rotate 4.1s linear infinite;
  background-size:contain;
}
.circle-text{
    width:190px;
    height:190px;
    border-radius:50%;
    z-index:40;
    position:fixed;
}
.circle1:before,
.circle1:after {
  content: " ";
  position: absolute;
  inset: 8px;
  background: linear-gradient(#161616, #262626);
  background-position: center;
  border-radius: inherit;
}

.circle1:before {
  background: linear-gradient(45deg, transparent, transparent 40%, rgb(230, 88, 6));
  filter: blur(32px);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
*/

.statastics {
  background-color: #2b1c1f;
  color: #fff;
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 20px;
}
.stathead{
  display:flex;
}
.new-announcement-btn{
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

.statheading{
  font-size: 4vw;
}

.stat-tablemain {
  width: 90%;
  margin: 0 auto;
}

.input-recruiter{
  width: 25%;
  height: 2em;
}

.input-year{
  height: 2em;
  cursor: default;
  margin-bottom: 5px;
}

.data{
  max-width: 60px;
  width: 70%;

}

.stathead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0vw 4vw 0vw 4vw;
  padding: 2vw 0vw 3vw 0vw;
}

.filter-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.applied-table {
  background-color: brown;
  border-radius: 20px;
}

table {
  /* width: 80%; */
  border-collapse: collapse;
  border-radius: 20px;
  /* margin-bottom: 20px; */
}

thead th {
  font-weight: bold;
  padding: 10px;
  text-align: left;
  background-color: #5429326a;
}

tbody td {
  padding: 10px;
  align-items: center;
}

tr:nth-child(odd) {
  background-color: #d08c9a6a;
}

tr:nth-child(even) {
  background-color: #6d545969;
}

.stat-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.rec {
  text-align: center;
}

thead th:nth-child(1),
tbody td:nth-child(1) {
  text-align: left;
}

td {
  padding: 10px 0px;
}
th,
td {
  padding: 10px 20px;
}
thead th:first-child{
  border-radius: 20px 0px 0px 0px;
}
thead th:last-child{
  border-radius: 0px 20px 0px 0px;
}
