.stbody{
background-repeat: no-repeat;
    background-color: rgb(249, 244, 243);
    background-blend-mode: multiply;
    background-image: url("card-bg.jpg");
    background-size: cover;
    display: inline-block;
    width:100%;
border-radius: 25px;
}
.edit{
    display: flex;
    justify-content: space-between;
}
.sform{
    display: flex;
    place-items:center;
    gap:0.5vw;
    margin-right:2vw;
}
.sform input{
    margin-top:.8vw;
    height:2.3vw;
}
.sform input,
select {
    box-sizing: border-box;
    border:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sform option{
    background-color:#f1ecec;
}
.ficon{
    
}
.filter{
    color:white;
    margin-top:1vw;

}

h6{
    display: inline-flex;
    margin-right: 0.7rem;
}

  
  
  
  
  
  
  