.name_branch,.tenth_twelth,.id_class,.sem_email,
.mob_dob,.street_city,.dis_pin,.cgpa_nback,
.coc_amcat,.his_link{
    display: flex;
    justify-content: space-between;
}
.sub-but-student{
    margin-top: 2%;
    background-color: rgb(41, 154, 236);
    border: 5%;
    border-radius: 10%;
    border-color: black;
}
.textst{
    background-color: white;
    color:black;
    width:fit-content;
    border-radius: 5px;
}
.textaddress{
    width:fit-content;
    border-radius: 5px;
    border-color: black;
}
.edit-btn {
    display: flex;
    justify-content: center;
    gap: .5vw;
}
.district-list{
    background-color: white;
    color:black;
    border-color: black;
    border-radius: 5px;
    width:100%;
    position: relative;
    bottom: 10px;
}
.sthistory{
    position: relative;
    bottom: 15px;
}
