
.modal-content{
    background-color: rgb(238, 86, 86);
}
.heading{
    font-size:x-large;
    font-weight: bold;
}
.textbox{
    position:relative;
    width:100%;
}
.textarea{
    position:relative;
}
.text1{
    width:100%;
    color:black ;
}
.area1{
    width:100%;
    color:black ;
}
.sub{
   text-align:center;
   
}
.sub-but{
    background-color: rgb(41, 154, 236);
    border: 5%;
    border-radius: 10%;
    border-color: black;
}
