.modal-content{
  background-color: rgb(244, 123, 123);
}
.backlog-textbox,.cgpa-textbox,.history-textbox{
    width:40%;
    color: black;
    border-radius: 5px;
}
.title-textbox,.desc-textarea,.role-textbox,.applylink-textbox{
    width:100%;
    color: black;
    border-radius: 5px;
    border-color: black;
}

.my-multiselect {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
  }
  
  .my-multiselect__control {
    border: none;
  }
  
  .my-multiselect__option {
    background-color: rgb(244, 123, 123);
    color: #333;
  }
  
  .my-multiselect__option--is-selected {
    background-color: rgb(244, 123, 123);
    color: #fff;
  }
  
  .my-multiselect__option--is-focused {
    background-color: #f2f2f2;
  }
  
  .my-multiselect__multi-value {
    background-color: rgb(244, 123, 123);
    border-radius: 4px;
    color: #fff;
    
  }
  
  .my-multiselect__multi-value__remove {
    color: #fff;
    cursor: pointer;
  }
  
  .my-multiselect__placeholder {
    color: #ccc;
  }
  .submit{
    text-align: center;
  }
  .sub-btn{
    background-color: rgb(41, 154, 236);
    border: 5%;
    border-radius: 10%;
    border-color: black;
    margin-top: 5%;
  }
  